<div fxLayout="column wrap" fxLayoutAlign="center">
  <div
    *ngIf="(cartState | async).cart.length > 0"
    fxLayout="column wrap"
    fxLayoutAlign="center"
    fxLayoutGap="20px">
    <app-cart-item
      *ngFor="let cartEl of (cartState | async).cart"
      [fxFlexOrder]="cartEl.product.productId"
      [cartItem]="cartEl">
    </app-cart-item>
  </div>
  <div
    *ngIf="(cartState | async).cart.length === 0"
    style="text-align: center">
    <h2>
      Add items from the shop to your shopping cart to see them here.
    </h2>
  </div>
</div>
