<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <div class="myFlexedImage">
    <img mat-card-image [src]="product.imagePath">
  </div>
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <p fxFlex="50">&euro; {{ product.price | centsCurrency }}</p>
    <button mat-button fxFlex="50" color="primary" (click)="addToCart()">Add to cart</button>
  </mat-card-actions>
</mat-card>
