<mat-card class="card">
  <mat-card-header class="login-card-header">
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <form action="" (ngSubmit)="register()">
    <mat-card-content>
      <app-user-credentials
        [user]="registerForm"
      >
      </app-user-credentials>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <button
          mat-raised-button
          [disabled]="!registerForm.valid"
          type="submit"
          color="primary">
          Register
        </button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>

