<mat-card
  fxLayout="row wrap">
  <form
    fxLayout="row wrap"
    fxFlex="100%"
    action=""
    (ngSubmit)="register()">
    <mat-card-content
      fxFlex="100%">
      <app-register-form
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxFlex="100%"
        [registerForm]="registerForm"
      >
      </app-register-form>
    </mat-card-content>
    <div
      fxFlex="100%"
      fxLayoutAlign="center center">
        <button
          mat-raised-button
          [disabled]="!registerForm.valid"
          type="submit"
          color="primary">
          Register
        </button>
    </div>
  </form>
</mat-card>

