<mat-sidenav-container class="all-wrap">
  <div class="page-wrap">
    <mat-toolbar class="toolbar" color="primary" fxLayoutGap="10px">
      <button mat-button class="nav-button" routerLink="/">
        <mat-icon
        style="margin-right: 5px">
          home
        </mat-icon>
        <span>WESTERHOEVE</span>
      </button>
      <button mat-button class="nav-button" routerLink="/shop">
        <mat-icon
          style="margin-right: 5px">
          shopping_basket
        </mat-icon>
        <span>Shop</span>
      </button>
      <span class="spacer"></span>
      <button mat-button class="nav-button "*ngIf="(authState | async).authenticated" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="(cartState | async).cart.length > 0">{{ (cartState | async).cart.length }}</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="(authState | async).authenticated" mat-menu-item routerLink="/user">
          <mat-icon>person</mat-icon>
          <span>Account</span>
        </button>
        <button *ngIf="(authState | async).authenticated" mat-menu-item routerLink="/" (click)="logout()">
          <mat-icon>person</mat-icon>
          <span>Log Out</span>
        </button>
        <button *ngIf="!(authState | async).authenticated" mat-menu-item routerLink="/login">
          <mat-icon>person</mat-icon>
          <span>Log In</span>
        </button>
        <button *ngIf="!(authState | async).authenticated" mat-menu-item routerLink="/register">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-sidenav-container>
