<mat-card fxLayout="row wrap"
          fxLayoutGap="1%"
          [ngStyle.lt-md]="{'height': '250px'}"
          [ngStyle.gt-sm]="{'height': '150px'}">
  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxFlex.gt-sm="10%"
       fxFlex.lt-md="20%"
       fxHide
       fxShow.gt-sm
  >
    <img [src]="cartItem.product.imagePath" [alt]="cartItem.product.name">
  </div>
  <div fxLayout="row wrap"
       fxFlex.gt-sm="30%"
       fxFlex.lt-md="49%">
    <h2 fxFlex="100%"
        [ngStyle.lt-md]="{'text-align': 'center'}"
        [ngStyle.gt-sm]="{'text-align': 'start'}">
      {{ cartItem.product.name }}
    </h2>
    <p fxFlex="100%"
       [ngStyle.lt-md]="{'text-align': 'center'}"
       [ngStyle.gt-sm]="{'text-align': 'start'}">
      {{ cartItem.product.description }}
    </p>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex.gt-sm="18%"
    fxFlex.lt-md="49%"
  >
    <h4>
      &euro; {{ cartItem.product.price * cartItem.itemCount | centsCurrency }}
    </h4>
  </div>
  <div fxLayout="row wrap"
       fxLayoutAlign="center center"
       fxFlex.gt-sm="25%"
       fxFlex.lt-md="49%">
    <button mat-raised-button class="small" (click)="subtractAmount()">
      <mat-icon aria-label="Decrease Product Count">remove</mat-icon>
    </button>
    <h3 style="margin:20px;">
      {{ cartItem.itemCount }}
    </h3>
    <button mat-raised-button class="small" (click)="addAmount()">
      <mat-icon aria-label="Increase Product Count">add</mat-icon>
    </button>
  </div>
  <div fxLayout="row wrap"
       fxLayoutAlign.gt-sm="end center"
       fxLayoutAlign.lt-md="center center"
       fxFlex.gt-sm="10%"
       fxFlex.lt-md="49%"
  >
    <button mat-raised-button class="small" color="warn" (click)="delete()">
      <mat-icon aria-label="Delete Product">clear</mat-icon>
    </button>
  </div>
</mat-card>

